@model IEnumerable<Assignment1.Models.Assessment>
@{
    ViewBag.Title = "Assessment";
    }
<br />
@if(User.IsInRole("student"))   
{ 
<div class="teachingDiv1">
    @using (Html.BeginForm("StudentAssessmentFile", "Assessment", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @*<input type="text" name="rename" placeholder="File Name" />*@
        @Html.TextBox("rename", "", new { placeholder = "File Name" })
        <input type="file" value="selectedFile" name="selectedFile" />
        <input type="submit" value="Upload" class="btn btn-info" />
    }
</div>
}
<div class="teachingDiv2" style="height:350px;">
    <table class=" table">

        <tr>
            <th>
                Student Name
            </th>
            <th>
                File Name
            </th>
            <th>
                DOC
            </th>         
            <th>Download</th>
            <th>Grade</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StuName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpload)
                </td>

                <td>
                    <a href="../StudentAssessmentFiles/@item.Guid" class="glyphicon glyphicon-download-alt"></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                @if (User.IsInRole("Lecturer") || User.IsInRole("tutor"))
                { 
                <td>
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to delete this file?')" })
                    |*@@Html.ActionLink("Grade", "Grade", new { id = item.Id})
                </td>
                }
            </tr>

        }
    </table>
</div>

   